<% if @message %>
  <%= erb :'shared/error', locals: { message: @message } %>
<% end %>

<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2 ">
    Domain Settings
  </div>
  <form class="my-6" method="POST" action="domain/update">
    <input name="_method" value="patch" type="hidden">

    <div class="mb-4">
      <div class="markdown-text">
        <p>
          Let's setup a new domain! <a href="">We've created a video tutorial that walks through the steps</a>. Also, all the steps are written below.
        </p>
        <ol>
          <li>
            <p>
              Decide whether you want to use a domain or sub-domain. A domain would be a unique web address for your job board like "www.marketing.com", whereas a sub-domain would be an address tied to your existing website like "jobs.marketing.com"
            </p>
          </li>
          <li>
            <p>
              If you are doing a subdomain, go to your provicer and create a CNAME record. Point the subdomain "jobs" to "tryferret.com". Here is an <a href="/subdomain.png" target="_blank">example of a subdomain with 1 CNAME record</a> using Google Domains.
            </p>
          </li>
          <li>
            <p>
              If you are doing a domain, you will need 2 records. One for the root domain "marketing.com" and one for "www.marketing.com". You will need to create 2 A records. One with the prefix "@" and other with the prefix "www". Point them both to this IP address: "167.71.80.4". Here is an <a href="/domain.png" target="_blank">example of a domain with 2 A records</a> using Google Domains.
            </p>
          </li>
          <li>
            <p>
              Enter the name you have selected below.
            </p>
          </li>
          <li>
            It will take up to 48 hours to connect your job board with the web address.
          </li>
          <li>
            If you are not comfortable changing your domain settings, please email us and we will be glad to walk you through the process via a screen-share.
          </li>
        </ol>
      </div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Domain Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="domain" type="url" value="<%= @account.domain %>" required>
      <p class="text-gray-600 text-xs italic">You must input the whole domain name, like "http://www.marketing.com/".</p>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Save your settings
      </button>
    </div>
  </form>

</div>
