<div class="w-full mb-8">
  <div class="mb-8">
    <p class="font-bold mb-3">
      Category Details
    </p>
    <div class="bg-white border rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Category Name
        </label>
        <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="text" name="name" value="<%= @category.name %>" required>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specifiy a category name like "Marketing", "Design" or "Executive".</p>
      </div>
    </div>
  </div>
</div>
