<section class="mt-24">
  <div class="text-center">
    <div class="text-4xl font-bold mb-2">
      Error Page!
    </div>
    <div class="text-xl text-gray-500 mb-8 max-w-3xl m-auto">
      Please reach out to support and let them know what you were doing when this occured.
    </div>
    <a href="/" class="text-blue-500 underline">Home page</a>
  </div>