<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-4">
    Thanks for registering!
  </div>
  <div class="markdown-text mb-2">
    <p>
      You can start adding jobs and customizing your job board via <a href="admin/<%= @slug %>" target="_blank">the admin dashboard</a>.
    </p>
  </div>
  <div class="markdown-text mb-2">
    <p>
      You can watch video tutorials that explain all the features <a href="/docs" target="_blank">on our documentation hub</a>.
    </p>
  </div>
  <div class="markdown-text mb-2">
    <% if get_environment == "development" %>
    <p>
      You can access your public job board <a href="http://<%= @slug %>.lvh.me:4242/" target="_blank">right here</a>.
    </p>
    <% else %>
    <p>
      You can access your public job board <a href="http://<%= @slug %>.tryferret.com/" target="_blank">right here</a>.
    </p>
    <% end %>
  </div>
</div>
