<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117123575-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117123575-7');
    </script>


    <%= yield_content :social %>

    <!-- CSS -->
    <link rel="stylesheet" href="/tailwind.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- JavaScript -->
    <script src="/moment.min.js"></script>

    <%= yield_content :head %>

    <title>Job Board Platform</title>
  </head>
  <body>

    <nav class="flex items-center justify-between flex-wrap p-6 w-3/4 mx-auto text-xl lg:text-base">
      <div class="flex items-center flex-shrink-0 ">
        <a href="/" class="mr-6 text-gray-600">
          <span class="font-semibold text-xl tracking-tight">Job Board</span>
        </a>
        <div>
          <a href="/login" class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 hover:bg-white mt-0 mr-2">Login</a>
        </div>
      </div>
    </nav>

    <div class="container mx-auto w-full lg:w-3/4 mb-24">
      <%= yield %>
    </div>

    <!-- Footer link back to ferret -->
    <hr>
    <section class="my-8">
      <div class="text-center text-gray-600">
        <p>
          <a href="http://www.hyperplane.co" target="_blank" class="text-blue-500">Made by Hyperplane</a>
        </p>
      </div>
    </section>

  </body>
</html>
