<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <%= yield_content :social %>

    <!-- CSS -->
    <link rel="stylesheet" href="/tailwind.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/favicon.png">

    <!-- JavaScript -->
    <script src="/moment.min.js"></script>

    <%= yield_content :head %>



    <title>Job Board Platform - Ferret</title>
  </head>
  <body>

    <div class="container mx-auto w-full lg:w-3/4">
      <%= yield %>
    </div>

  </body>
</html>
