<% content_for :head do %>
  <link rel="stylesheet" href="/simplemde.min.css">
  <script src="/simplemde.min.js"></script>
<% end %>

<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2 ">
    Add a Job Posting
  </div>
  <section class="my-8">
    <form method="POST" action="create">
      <div class="w-full mb-8">
        <div class="mb-8">
          <p class="font-bold mb-3">
            Job Details
          </p>
          <div class="my-6">
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Job Title
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-position" type="text" name="position" required>
              <p class="text-gray-600 text-xs italic">Please specifiy a job title like "Marketing Manger".</p>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Office Location
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-location" type="text" name="location" required>
              <p class="text-gray-600 text-xs italic">Please specify the city, state or country. If remote, simply put "Remote".</p>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Job Description
              </label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-description" type="text" rows="6" name="description"></textarea>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Job Responsibilities
              </label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-resps" type="text" rows="6" name="responsible"></textarea>
              <p class="text-gray-600 text-xs italic mt-2">Not required.</p>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Job Requirements
              </label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-reqs" type="text" rows="6" name="requirements"></textarea>
              <p class="text-gray-600 text-xs italic mt-2">Not required.</p>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Link to Application
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" name="application" required>
              <p class="text-gray-600 text-xs italic">Please share the application URL.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full mb-8">
        <p class="font-bold mb-3">
          Company Details
        </p>
        <div class="my-6">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Company Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-company" type="text" name="company-name" required>
            <p class="text-gray-600 text-xs italic">Your brand or trade name without Inc or LLC.</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Company Background
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight" id="original-background" type="text" rows="6" name="company-bio"></textarea>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Add job
        </button>
      </div>

    </form>
  </section>
</div>

<script>
  const textAreas = ['original-description', 'original-resps', 'original-reqs', 'original-background']

  let descBox = new SimpleMDE({
    element: document.getElementById("original-description"),
    hideIcons: ["quote", "image",],
    status: false,
  });
  let respsBox = new SimpleMDE({
    element: document.getElementById("original-resps"),
    hideIcons: ["quote", "image",],
    status: false,
  });
  let reqsBox = new SimpleMDE({
    element: document.getElementById("original-reqs"),
    hideIcons: ["quote", "image",],
    status: false,
  });
  let compBox = new SimpleMDE({
    element: document.getElementById("original-background"),
    hideIcons: ["quote", "image",],
    status: false,
  });

</script>
