.markdown-text ul, ol {
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.markdown-text ol {
    list-style-type: decimal;
}

.markdown-text p > a {
  color: blue;
}

.markdown-text h1, h2, h3, h4, h5, h6 {
  font-size: revert;
  font-weight: revert;
}

.markdown-text blockquote {
  margin: revert;
}