<section class="mt-8 w-2/3 mx-auto">
  <div>
    <p class="text-red-500 font-semibold">
      <a href="/admin">
        &larr; Back to dashboard
      </a>
    </p>
  </div>
</section>

<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2">
    Board Settings
  </div>
  <div class="markdown-text mb-3">
    <p>
      Customize text content and basic features here. <a href="https://www.loom.com/share/113736c85a5c4554b38b3063399398a5" target="_blank">Watch this tutorial </a>to learn about all the fields</a>.
    </p>
  </div>

  <form class="my-6" method="POST" action="board/update">
    <input name="_method" value="patch" type="hidden">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Name of job board or organization
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="org_name" type="text" value="<%= @settings.org_name %>" required>
      <p class="text-gray-600 text-xs italic">The name of your organization or business.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Brief description about your board
      </label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="org_bio" type="text" rows="10"><%= @settings.org_bio %></textarea>
      <p class="text-gray-600 text-xs italic">Provide a few sentences to summarize what your organization does and what jobs people can find here.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Link to your homepage
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="homepage" type="url" value="<%= @settings.homepage %>">
      <p class="text-gray-600 text-xs italic">This will add a link on the top navigation menu to your main website or homepage. This is optional.</p>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Google Analytics Tracking ID
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="google-analytics" type="text" value="<%= @settings.google_analytics %>">
      <p class="text-gray-600 text-xs italic">For the best results, create a new property under your account. If you use the same tracking ID as your main website, it will be hard to separate the data.</p>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update your board
      </button>
    </div>
  </form>

</div>
