<div class="rounded border my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="mb-4">
    <p class="font-bold text-2xl text-black">
      Thanks for submitting a job!
    </p>
  </div>
  <div class="markdown-text mb-8 text-xl lg:text-base">
    <p class="text-black">
      If you enjoy the work that Data Umbrella does, please consider <a href="https://opencollective.com/data-umbrella" target="_blank">donating on our Open Collective page</a>.
    </p>
  </div>
  <div class="markdown-text mb-8 text-xl lg:text-base">
    <p class="text-black">
      In case you want to edit your job posting, <a href="/jobs/<%= @slug %>/<%= @jid %>/edit" target="_blank">here is a private link to do so</a>. Please save this link and do not share it with anyone else outside of your company!
    </p>
  </div>
  <div class="flex items-center justify-between">
    <a href="/jobs/<%= @slug %>" target="_blank">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        View your job posting
      </button>
    </a>
    <a href="/" target="_blank">
      <button class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline border border-blue-500 hover:border-transparent">
        Go to the home page
      </button>
    </a>
  </div>
</div>
