<section class="mt-16">
  <div class="text-center">
    <div class="mb-2">
      <p class="text-2xl font-bold text-black">
        Get a weekly update of new job postings
      </p>
    </div>
    <div class="w-2/3 mx-auto mt-10">
      <% if @confirmation %>
      <p class="text-xl text-center">
        Thanks for signing up! Weekly updates are sent out every Monday.
      </p>
      <% elsif @message %>
      <p class="text-xl text-center">
        <%= @message %>
      </p>
      <% else %>
      <form method="POST">
        <div class="mb-4 inline-block w-3/4">
          <input class="appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" placeholder="Enter your email" type="email" name="email" required>
        </div>
        <div class="inline-block">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
            Get updates
          </button>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</section>
