<div class="rounded border my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="mb-2 ">
    <p class="font-bold text-2xl text-black">
      Duplicate Job
    </p>
  </div>
  <div class="markdown-text mb-2">
    <p class="text-xl lg:text-base text-black">
      There is already a job with the same position and company created within the last 60 minutes.
    </p>
  </div>
  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p class="text-xl lg:text-base text-black">
      We prevent jobs with the same name being posted within the same hour to avoid double posting and billing mistakes.
    </p>
  </div>
  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p class="text-xl lg:text-base text-black">
      <a href="<%= @other_host_route %>/jobs/new">You can try again with a different name</a> or wait another hour.
    </p>
  </div>
</div>
