<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2 ">
    Duplicate Job
  </div>
  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p>
      There is already a job with the same position and company created within the last 60 minutes.
    </p>
  </div>
  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p>
      We prevent jobs with the same name being posted within the same hour to avoid double posting and billing mistakes.
    </p>
  </div>

  <% if @other_host %>
    <div class="markdown-text mb-2 text-xl lg:text-base">
      <p>
        <a href="/jobs/new">You can try again with a different name</a> or wait another hour.
      </p>
    </div>
  <% else %>
    <div class="markdown-text mb-2 text-xl lg:text-base">
      <p>
        <a href="/board/<%= @account_slug %>/jobs/new">You can try again with a different name</a> or wait another hour.
      </p>
    </div>
  <% end %>

</div>
