<% content_for :head do %>
  <link rel="stylesheet" href="/simplemde.min.css">
  <script src="/simplemde.min.js"></script>
<% end %>

<!-- Hero section -->
<section class="mt-12">
  <div class="text-center">
    <div class="text-3xl font-bold mb-2">
      Edit this job posting
    </div>
  </div>
</section>

<!-- Job Listings -->
<section class="my-12 w-full lg:w-4/5 mx-auto">
  <form method="POST" action="update" enctype="multipart/form-data">
    <input name="_method" value="patch" type="hidden">
    <%= erb :'shared/job_form', locals: { job: @job } %>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update job details
      </button>
    </div>
  </form>
</section>

<!-- All the update scripts -->
<script src="/userJobForm.js" charset="utf-8"></script>
