<% content_for :head do %>
  <link rel="stylesheet" href="/simplemde.min.css">
  <script src="/simplemde.min.js"></script>
<% end %>

<!-- Hero section -->
<section class="mt-12">
  <div class="text-center w-1/2 mx-auto">
    <div class="text-3xl font-bold mb-2">
      Post a job
    </div>
    <p>
      <%= @account.posting_offer %>
    </p>
  </div>
</section>

<!-- Job Listings -->
<section class="my-12 w-full lg:w-4/5 mx-auto">
  <form method="POST" action="create">
    <div class="w-full mb-8">
      <div class="mb-8">
        <p class="font-bold mb-3">
          Job Details
        </p>
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Position
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-position" type="text" name="position" required>
            <p class="text-gray-500 text-xs italic">Please specifiy a job title like "Marketing Manger".</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Office Location
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-location" type="text" name="location" required>
            <p class="text-gray-500 text-xs italic">Please specify the city, state or country. If remote, simply put "Remote".</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Job Description
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-description" type="text" rows="6" name="description">Your job description goes here</textarea>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Job Responsibilities
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-resps" type="text" rows="6" name="responsible">Your job responsibilities go here</textarea>
            <p class="text-gray-500 text-xs italic mt-2">Not required.</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Job Requirements
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-reqs" type="text" rows="6" name="requirements">Your job requirements go here</textarea>
            <p class="text-gray-500 text-xs italic mt-2">Not required.</p>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Link to Application
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="url" name="application" required>
            <p class="text-gray-500 text-xs italic">Please share the application URL.</p>
          </div>
          <!-- <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              How to apply?
            </label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-app" type="text" rows="6" name="application"></textarea>
            <p class="text-gray-500 text-xs italic">Please share any special instructions.</p>
          </div> -->
        </div>
      </div>
    </div>

    <div class="w-full mb-8">
      <p class="font-bold mb-3">
        Company Details
      </p>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Company Name
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-company" type="text" name="company-name" required>
          <p class="text-gray-500 text-xs italic">Your brand or trade name without Inc or LLC.</p>
        </div>
        <!-- <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Company Website
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-website" type="text" name="website">
        </div> -->
        <!-- <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Company Logo
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-logo" type="file">
        </div> -->
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Company Background
          </label>
          <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="original-background" type="text" rows="6" name="company-bio" required></textarea>
        </div>
      </div>
    </div>

    <div class="w-full mb-8">
      <p class="font-bold mb-3">
        Your Details
      </p>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Your Email
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="contact" type="email" name="contact" required>
          <p class="text-gray-500 text-xs italic">Stays private, used for invoice.</p>
        </div>

        <% if @account.job_price.to_i > 0 %>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">
              Credit Card Details
            </label>
            <p class="text-sm text-gray-800">
              You'll pay on the next page via Stripe. If you don't have a credit card handy, please come back when you do.
            </p>
          </div>
        <% end %>

      </div>
    </div>

  <div class="w-full mb-8">
    <p class="font-bold mb-3">
      Job Preview
    </p>

    <!-- Card Preview -->
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="flex items-center rounded shadow mb-8 w-4/5 mx-auto">
        <div class="w-3/4 px-10 py-4">
          <p class="mb-2" id="preview-company">
            Company
          </p>
          <div class="font-bold text-xl mb-2" id="preview-position">
              Position
          </div>
          <p class="text-gray-600 text-base" id="preview-location">
            Location
          </p>
        </div>
        <div class="flex-1">
          <p id="preview-date"></p>
        </div>
      </div>

        <!-- Job Details -->
      <div class="mb-4" id="preview-description">
        You job description goes here.
      </div>
      <div class="mb-4">
        <p class="text-xl font-bold mb-2">
          Responsibilities
        </p>
        <p class="markdown-text" id="preview-resps">
          Your job responsibilities will appear here
        </p>
      </div>
      <div class="mb-4">
        <p class="text-xl font-bold mb-2">
          Requirements
        </p>
        <p class="markdown-text" id="preview-reqs">
          Your job requirements will appear here
        </p>
      </div>
      <div class="mb-4">
        <p class="text-xl font-bold mb-2">
          Company Background
        </p>
        <p class="markdown-text" id="preview-background">
          Your company background will appear here
        </p>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="checkout-button" type="submit">
      <% if @account.job_price.to_i > 0 %>
        Post your job for $<%= @account.job_price %>
      <% else %>
        Post your job for free
      <% end %>
    </button>
  </div>

  </form>
</section>

<script>
  // Add date
  const dateEl = document.querySelector('#preview-date')
  const date = moment().format('MMM D');
  dateEl.innerText = date

  // Add position
  const textInputs = Array.from(document.querySelectorAll('input'));
  const textBoxes = Array.from(document.querySelectorAll('textarea'));
  const inputs = textInputs.concat(textBoxes);
  inputs.forEach(input => input.addEventListener('input', updateValue));

  function updateValue(e) {
    const id = e.target.id
    const previewId = id.replace('original', 'preview')
    const el = document.querySelector(`#${previewId}`)
    el.innerHTML = e.target.value;
  }

</script>

<script>
  const textAreas = ['original-description', 'original-resps', 'original-reqs']

  let descBox = new SimpleMDE({
    element: document.getElementById("original-description"),
    hideIcons: ["heading", "quote", "image", "side-by-side", "fullscreen"],
    status: false,
  });
  let respsBox = new SimpleMDE({
    element: document.getElementById("original-resps"),
    hideIcons: ["heading", "quote", "image", "side-by-side", "fullscreen"],
    status: false,
  });
  let reqsBox = new SimpleMDE({
    element: document.getElementById("original-reqs"),
    hideIcons: ["heading", "quote", "image", "side-by-side", "fullscreen"],
    status: false,
  });

  let previewTimer = setInterval(updateMarkdown, 10000)

  function updateMarkdown() {
    const descOutput = document.querySelector('#preview-description')
    descOutput.innerHTML = descBox.markdown(descBox.value())

    const respsOutput = document.querySelector('#preview-resps')
    respsOutput.innerHTML = respsBox.markdown(respsBox.value())

    const reqsOutput = document.querySelector('#preview-reqs')
    reqsOutput.innerHTML = reqsBox.markdown(reqsBox.value())
  }

</script>
