<!-- Board title and summary -->
<section class="mt-4 mb-24">
  <div class="text-center">
    <div class="">
      <p class="text-6xl font-bold text-black">
        Data Umbrella
      </p>
    </div>
    <div class="mb-6 max-w-3xl m-auto">
      <p class="text-4xl lg:text-3xl text-gray-600">
        A community for underrepresented persons in data science, machine learning and artificial intelligence.
      </p>
    </div>
    <p class="underline">
      <a href="/jobs/new">
        Hiring? Post a Job →
      </a>
    </p>
  </div>
</section>

<!-- List all jobs -->
<section class="mt-10">
  <% if @jobs.nil? or @jobs.empty? %>
    <p class="text-xl text-center">
      There are no jobs here. Please add one!
    </p>
  <% elsif @jobs %>
    <% @jobs.each_with_index do |job, index| %>
        <a href="jobs/<%= job.slug %>">
        <%= erb :'shared/job_card', locals: { job: job } %>
        </a>
    <% end %>
  <% end %>
</section>
