<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- DU google analytics code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112038548-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112038548-2');
    </script>

    <meta charset="utf-8">

    <%= yield_content :social %>

    <!-- CSS -->
    <link rel="stylesheet" href="/tailwind.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Choose custom font -->
    <style>
      body {
        font-family: Fira Sans, sans-serif;
      }
    </style>

    <!-- JavaScript -->
    <script src="/moment.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <%= yield_content :head %>

    <title>Data Umbrella Job Board</title>

  </head>
  <body class="bg-white bg-blue-100">

    <nav class="flex items-center justify-between flex-wrap p-6 mt-6 w-full lg:w-3/4 mx-auto text-xl lg:text-base">
      <div class="flex items-center flex-shrink-0 ">
        <p class="mr-6 text-gray-600">
          <a href="http://www.dataumbrella.org" target="_blank" class="">
            <img src="/du-logo.png" class="mx-auto" style="max-width: 120px; max-height: 120px">
          </a>
        </p>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0">
          <a href="/" class="underline">View all jobs</a>
        </p>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0">
          <a href="/jobs/new" class="underline">Post a job</a>
        </p>
        <p class="inline-block px-4 py-2 leading-none text-gray hover:text-gray-600 mt-0 mr-2">
          <a href="/search" class="underline">Search jobs</a>
        </p>
      </div>
    </nav>

    <div class="w-full lg:container lg:mx-auto lg:w-3/4 px-10">
      <%= yield %>
    </div>

    <!-- Footer link back to org home page -->
    <section>
      <div class="text-center mt-40 mb-8 text-gray-600">
        <p>
          <!-- <a href="http://www.dataumbrella.org" target="_blank" class="text-blue-500">Data Umbrella</a> -->
        </p>
      </div>
    </section>

  </body>
</html>
