<% content_for :head do %>
  <link rel="stylesheet" href="/simplemde.min.css">
  <script src="/simplemde.min.js"></script>
<% end %>

<!-- Hero section -->
<section class="mt-12">
  <div class="text-center w-2/3 mx-auto">
    <div class="mb-2">
      <p class="text-3xl font-bold text-black">
        Post a job for free
      </p>
    </div>
  </div>
</section>

<!-- Job Listings -->
<section class="my-12 mx-auto text-xl lg:text-base">
  <form method="POST" action="create" enctype="multipart/form-data">
    <%= erb :'shared/job_form', locals: { job: @job } %>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="checkout-button" type="submit" disabled>
        Submit your job
      </button>
    </div>
  </form>
</section>

<!-- Update scripts -->
<script src="/userJobForm.js" charset="utf-8"></script>
<style>
  #editor {
    height: 350px;
  }
</style>
