<% content_for :head do %>
  <link rel="stylesheet" href="/simplemde.min.css">
  <script src="/simplemde.min.js"></script>
<% end %>

<!-- Hero section -->
<section class="mt-12">
  <div class="text-center w-2/3 mx-auto">
    <div class="text-3xl font-bold mb-2">
      <% if @account.job_price.to_i > 0 %>
        Post a job for $<%= @account.job_price %>
      <% else %>
        Post a job for free
      <% end %>
    </div>
    <p>
      <%= @account.posting_offer %>
    </p>
  </div>
</section>

<!-- Job Listings -->
<section class="my-12 w-full lg:w-4/5 mx-auto text-xl lg:text-base">
  <form method="POST" action="create" enctype="multipart/form-data">
    <%= erb :'shared/job_form', locals: { job: @job } %>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" id="checkout-button" type="submit">
        Submit your job
      </button>
    </div>
  </form>
</section>

<!-- Link inputs with preview -->
<script>
  // Add date
  const dateEl = document.querySelector('#preview-date')
  const date = moment().format('MMM D');
  dateEl.innerText = date

  // Add text inputs
  const textInputs = Array.from(document.querySelectorAll('input'));
  const textBoxes = Array.from(document.querySelectorAll('textarea'));
  const inputs = textInputs.concat(textBoxes);
  inputs.forEach(input => input.addEventListener('input', updateValue));

  function updateValue(e) {
    const id = e.target.id
    const previewId = id.replace('original', 'preview')
    const el = document.querySelector(`#${previewId}`)
    el.innerHTML = e.target.value;
  }

</script>

<!-- Refresh markdown preview -->
<script>

  let descBox = new SimpleMDE({
    element: document.getElementById("original-description"),
    hideIcons: ["quote", "image",],
    status: false,
  });

  let previewTimer = setInterval(updateMarkdown, 1000)

  function updateMarkdown() {
    const descOutput = document.querySelector('#preview-description')
    descOutput.innerHTML = descBox.markdown(descBox.value())
  }

</script>


<!-- Prevent large files from being uploaded -->
<script>
  const uploadField = document.getElementById("logo-upload");

  uploadField.onchange = function() {
    if(this.files[0].size > 1097152){
       alert("File is too big!");
       this.value = "";
    };
  };

</script>

<!-- Save form data in local storage -->
<script>
  const savedInputs = Array.from(document.querySelectorAll('input'));
  savedInputs.forEach(input => persistInput(input))

  function persistInput(input) {
    var key = "input-" + input.id;
    var storedValue = localStorage.getItem(key);

    if (storedValue) {
      input.value = storedValue;
    }

    input.addEventListener('input', function () {
      localStorage.setItem(key, input.value);
    });
  }
</script>
