<div class="rounded border my-8 bg-white w-2/3 p-10 mx-auto">

  <div class="mb-4">
    <p class="font-bold text-2xl text-black">
      Your job is pending approval!
    </p>
  </div>

  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p class="text-black">
      We want to review every submitted job and confirm it meets the goals of our job board.
    </p>
  </div>

  <div class="markdown-text mb-2 text-xl lg:text-base">
    <p class="text-black">
      You will recieve an email when your job has been approved.
    </p>
  </div>

</div>
