<div class="rounded shadow my-8 bg-white w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl mb-2">
    There was a problem with your payment
  </div>
  <div class="text-xl lg:text-base">
    <p class="mb-2">
      Please try again and double-check the information you entered: <a href="/board/<%= @account_slug %>/jobs/<%= @job_slug %>/pay">payment link</a>.
    </p>
    <p class="mb-2">
      Also, please check with your credit card company as they may have flagged the charge.
    </p>
  </div>
</div>
